@media screen and (max-width: 1080px){
    .image-box2{
        margin-left: 12%;
    }
}

@media screen and (max-width: 550px){
    .LImageBox{
        zoom: 0.4;
    }

    .RImageBox{
        zoom: 0.4;
    }

    .title{
        zoom: 0.35;
    }
}