.main-1{
    border: solid 1px;
    padding: 20px;
    padding-bottom: 3px;
    width: 665px;
    margin-left: -20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.outputs{
    width: 210px;
    margin-bottom: 16px;
}

.P1{
    margin-top: 0;
}

@media screen and (max-width: 1080px){
    .P1{
        margin-top: 100px;
    }
}
