.about{
    color: #B0A07E;;
}

.title-stars{
    width: fit-content;
    display: flex;
    margin-top: 80px;
    margin-right: 17%;
    margin-left: auto;
    padding-top: 40px;
}

.star2{
    margin-top: 60px;
    margin-left: 40px;
}

.title{
    margin-top: 70px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.et{
    font-size: 42px;
    font-weight: 900;
    margin-left: -5px;
    text-transform: uppercase;
}

.title-text{
    margin-top: -103px;
    margin-left: -200px;
}

/* body */
.content{
    width: 1060px;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.text{
    width: 470px;
    padding-left: 40px;
}

.hello{
    margin-top: 35px;
}

.hello-text{
    font-size: 100px;
    font-weight: 900;
}

.hello-line{
    position: relative;
    top: -98px; left: 18px;
    background-color: black;
    height: 2px;
    width: 400px;
}

.hello-star1{
    position: relative;
    top: -44px; left: -65px;
}

.hello-star2{
    position: relative;
    top: -179px; left: 217px;
}

.hello-star3{
    position: relative;
    top: -163px; left: 200px;
}

h3{
    color: #e53c29;
    font-family: "Bitter", serif;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 20px;
}

h4{
    font-family: "Azeret Mono", monospace;
    font-size: 15px;
    font-weight: 400;
    margin-top: 17px;
    margin-bottom: 10px;
    width: 420px;
    letter-spacing: 0.2px;
}

.intro-text{
    margin-top: -65px;
    width: 420px;
}

.list-box{
    display: flex;
    flex-wrap: wrap;
    width: 470px;
    margin-top: -5px;
}

.list-item{
    width: 390px;
    margin-top: -12px;
    margin-left: auto;
    margin-right: 40px;
    height: 120px;
}

.list-star{
    margin-bottom: 10px;
}

.skill{
    margin-top: 5px;
    margin-left: 10px;
}

.icon-box{
    display: flex;
    justify-content: space-between;
    width: 410px;
    margin-left: -10px;
}

.icon{
    width: 100px;
}

.icon-text{
    font-size: 12px;
    text-align: center;
    margin-left: -10px;
    margin-top: -10px;
}

.image-box{
    width: 520px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    height: fit-content;
}

.image-colum{
    width: 47%;
}

.images{
    width: 247px;
    margin-bottom: 20px;
    border: solid 1px;
}


/*screen responsive*/
@media screen and (max-width: 1200px){
    .title{
      zoom: 0.8;
      margin-top: 60px;
    }

    .title-stars{
        zoom: 0.8;
        margin-top: 170px;
    }

    .content{
        width: 790px;
    }

    .image-box{
        width: 250px;
    }

    .image-colum2{
        display: none;
    }

    .hello{
        zoom: 0.8;
    }

    .hello-line{
        top: -78px;
      }

      .intro-text{
        margin-top: -52px;
      }
}

@media screen and (max-width: 900px){
    .title{
        zoom: 0.6;
      }
  
      .title-stars{
          zoom: 0.6;
      }

      .image-colum{
        display: none;
      }

      .content{
        width: 490px;
    }

    .hello{
        zoom: 0.6;
    }

    .hello-line{
        top: -58px;
      }

      .intro-text{
        margin-top: -38px;
      }

      .content{
        margin-top: 100px;
      }
}

@media screen and (max-width: 800px){
    .about{
        background-color: #FEF7EB;
        color: rgb(123, 96, 96);
    }
}


@media screen and (max-width: 700px){
    .title{
        zoom: 0.4;
      }
  
      .title-stars{
          zoom: 0.4;
      }

      .content{
        zoom: 0.7;
        margin-top: 50px;
      }
}