.about{
    color: #B0A07E;;
}

.title-stars{
    width: fit-content;
    display: flex;
    margin-top: 80px;
    margin-right: 17%;
    margin-left: auto;
}

.star2{
    margin-top: 60px;
    margin-left: 40px;
}

.title{
    margin-top: 70px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.et{
    font-size: 42px;
    font-weight: 900;
    margin-left: -5px;
    text-transform: uppercase;
}

.title-text{
    margin-top: -103px;
    margin-left: -200px;
}

/* body */
.content{
    width: 470px;
    margin-left: 13%;
    margin-top: 150px;
    padding-left: 60px;
}

.hello{

}

.hello-text{
    font-size: 100px;
    font-weight: 900;
}

.hello-line{
    position: relative;
    top: -14px; left: 18px;
    background-color: black;
    height: 2px;
    width: 400px;
}

.hello-star1{
    position: relative;
    top: -46px; left: -65px;
}

.hello-star2{
    position: relative;
    top: -179px; left: 217px;
}

.hello-star3{
    position: relative;
    top: -163px; left: 200px;
}





/*screen responsive*/
@media screen and (max-width: 1200px){
    .title{
      zoom: 0.8;
      margin-top: 60px;
    }

    .title-stars{
        zoom: 0.8;
        margin-top: 170px;
    }
}

@media screen and (max-width: 900px){
    .title{
        zoom: 0.6;
      }
  
      .title-stars{
          zoom: 0.6;
      }
}

@media screen and (max-width: 800px){
    .about{
        background-color: #FEF7EB;
        color: rgb(123, 96, 96);
    }
}


@media screen and (max-width: 700px){
    .title{
        zoom: 0.4;
      }
  
      .title-stars{
          zoom: 0.4;
      }
}

@media screen and (max-width: 600px){
    .title{
        zoom: 0.4;
      }
  
      .title-stars{
          zoom: 0.4;
          margin-right: 10%;
      }
}
