.main-3{
    border: solid 1px;
    padding: 20px;
    padding-bottom: 3px;
    width: 665px;
    margin-left: -20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-4{
    border: solid 1px;
    padding: 20px;
    padding-bottom: 3px;
    width: 665px;
    margin-left: -20px;
}

.sub-4{
    display: flex;
    justify-content: space-between;
}

.outputs{
    width: 210px;
    margin-bottom: 16px;
}

.env_art{
    margin-bottom: 16px;
    border: solid 1px;
}


@media screen and (max-width: 1080px){
    .P1{
        margin-top: 100px;
    }
    
    .P4{
        margin-top: 300px;

    }
}


@media screen and (max-width: 550px){
    .LImageBox{
        zoom: 0.4;
    }

    .LImageBox{
        zoom: 0.4;
    }

    .title{
        zoom: 0.35;
    }

    .image-box2{
        margin-left: 10%;
    }

   .RImageBox{
        zoom: 0.4;
    }
}