.main-1{
    border: solid 1px;
    padding: 20px;
    padding-bottom: 3px;
    width: 610px;
    margin-left: 40px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.outputs{
    margin-bottom: 16px;
    border: solid 1px;
    width: 295px;
}

@media screen and (max-width: 1080px){
    .P1{
        margin-top: 100px;
    }

    .RWordCircle1{
        position: relative;
        top: 50px; left: -70px;
    }
}

@media screen and (max-width: 550px){
    .LImageBox{
        zoom: 0.4;
    }

    .LImageBox{
        zoom: 0.4;
    }

    .title{
        zoom: 0.35;
    }

    .image-box2{
        zoom: 0.3;
    }
}