.projects{
    color: #B0A07E;;
}

.title{
    margin-left: 17%;
    width: fit-content;
    margin-top: -40px; 
}

.star{
    display: flex;
    justify-content: end;
}

h1{
    font-size: 105px;
    font-weight: 900;
    justify-self: start;
}

.star1{
    position: relative;
    top: 195px; left: -75px;
}

.star2{
    position: relative;
    top: 10px; left: 40px;
}

.star3{
    position: relative;
    justify-self: end;
    top: 43px; left: 25px;
}

/* projects layout */

.project{
    margin-top: -30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

a{
    color: black;
}

/* word boxes */
h3{
    font-family: "Bitter", serif;
    color: #e53c29;
    font-size: 40px;
    font-weight: 800;
    margin-top: 55px;
    margin-bottom: 20px;
    line-height: 1.5;
    width: 350px;
}

.PLine{
    width: 310px;
}

.RWordBox{
    justify-self: right;
    margin-right: 12%;
    width: 350px;
    margin-top: 50px;
}

.LWordBox{
    justify-self: right;
    margin-left: 15%;
    width: 350px;
    margin-top: 50px;
}

.RWordCircle{
    display: flex;
    justify-content: right;
}

.LWordCircle{
    position: relative;
    left: 130px; top: 40px;
}

.RNumber{
    font-family: "coquette", sans-serif;
    font-weight: 400;
    font-size: 100px;
    text-align: right;
    margin-right: 30px;
    margin-top: 20px;
}

.LNumber{
    font-family: "coquette", sans-serif;
    font-weight: 400;
    font-size: 100px;
    text-align: left;
    margin-left: 5px;
    margin-top: 20px;
}

.skill-box{
    display: flex;
    border: solid 1px;
    border-radius:  10% / 30%;
    height: 35px;
    width: 190px;
    padding-top: 6px;
    padding-left: 12px;
    margin-bottom: 10px;
}

.skills{
    margin-top: 4px;
    margin-left: 15px;
}

.discription{
    margin-top: 60px;
    width: 300px;
}

.time{
    color: #7F8080;
}

/* images */

.displpayImg {
    cursor: pointer;
  }
  
.displpayImg:hover {
    opacity: 0.7;
}

.circle { 
    z-index: -1;
    position: relative;
    border: solid 1px;  
    border-radius: 50%;  
    display: inline-block;
}

.circle-box{
    display: flex;
}

.LImageBox{
 margin-left: 14%;
 margin-top: 150px;
 margin-bottom: -4px;
 width: 680px;
}

.RImageBox{
    margin-right: 12%;
    margin-top: 150px;
    margin-bottom: -4px;
}

@media screen and (max-width: 1450px){
    .RWordBox{
        margin-right: 6%;
    }

    .LWordBox{
        margin-left: 8%;
    }
}

@media screen and (max-width: 1350px){
    .project{
        zoom: 0.9;
    }

    .LImageBox{
        margin-left: 13%;
    }

    .RImageBox{
        margin-right: 12%;
    }
 
}


@media screen and (max-width: 1200px){
    .title{
        zoom: 0.8;
    }

    .project{
        zoom: 0.8;
    }

    .LImageBox{
        margin-left: 14%;
    }

    .RWordBox{
        margin-right: 7%;
    }

    .RImageBox{
        margin-right: 12%;
    }

    .LWordBox{
        margin-left: 9%;
    }
}

@media screen and (max-width: 1080px){
    .title{
        margin: auto;
    }

    .project{
        flex-wrap: wrap;
        justify-content: space-around;
        zoom: 1;
    }

    .LImageBox{
        margin-left: -2px;
    }

    .RImageBox{
        margin-left: 200px;
        margin-bottom: -150px;
    }

    .RWordCircle{
        margin-right: -100px;
        margin-bottom: 60px;
    }

    .LWordCircle{
        position: relative;
        top: -50px; left: 300px;

    }

    .RNumber{
        margin-top: -100px;
        margin-left: -100px;
        margin-bottom: -115px;
        text-align: left;
        font-size: 60px;
    }

    .LNumber{
        margin-top: -100px;
        margin-left: -100px;
        margin-bottom: -115px;
        text-align: left;
        font-size: 60px;
    }

    .PLine{
        width: 420px;
    }

    .discription{
        width: 390px;
    }

    .LWordBox{
        margin-left: -8%;
        order: 1;
    }   
}

@media screen and (max-width: 900px){
    .LImageBox{
        zoom: 0.8;
    }

    .RImageBox{
        zoom: 0.8;
    }
}

@media screen and (max-width: 800px){
    .projects{
        background-color: #FEF7EB;
        color: rgb(123, 96, 96);
    }

    .title{
        zoom: 0.5;

    }
}

@media screen and (max-width: 700px){
    .LImageBox{
        zoom: 0.6;
    }

    .RWordBox{
        zoom: 0.7;
    }

    .RImageBox{
        zoom: 0.6;
    }

    .LWordBox{
        zoom: 0.7;
    }
}